.share {
    // background-color: #f6f6f6;
    padding: 0 25px 20px 25px;
    overflow: hidden;
    // border-top: 1px solid #e0e0e0;

    @media (min-width: 900px) {
        padding: 0;
    }

    h2 {
        color: #7f90a5;
        font-size: 0.9rem;
        padding: 30px 0 20px 0;
        font-family: Orion-Bold, sans-serif;

        @media (min-width: 900px) {
            margin: 0px auto;
            max-width: 650px;
            padding: 30px 0 0px 0;
        }
    }

    ul {
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 650px;
        margin: 0 auto;
        padding: 19px 0px;

        li {
            padding: 0 5px;
            cursor: pointer;
            @media (min-width: 900px) {}

            div {
                outline: none;
            }
        }
    }
}