h1 {
    max-width: 302px;
    color: white;
    font-family: Orion-Bold, sans-serif;
    font-size: 2.5rem;
    padding: 10px 0px 0px 23px;
    max-width: 302px;

    @media (min-width: 1025px) {
        max-width: 402px;
        padding: 40px 0px 0px 23px;
    }
}

.content {
    max-width: 660px;
    margin: 40px auto;
    padding: 0px 25px;
    font-size: 0.9rem;

    @media (min-width: 900px) {
        padding: 0;
        width: 650px;
    }

    strong{
        margin-bottom: 8px;
        font-family: 'Orion-Bold';
    }
    p{
        margin-bottom: 16px;
        display: block;
    }
}

.articleImage {
    width: 100%;
    padding: 20px 0;
}

.articleHeader {
    background: linear-gradient(90deg, #8170ED, #CC50A9);
    height: 220px;
    display: block;
}

.pepperHalper {
    margin: 0 auto;
    max-width: 660px;
    padding-top: 19px;
    text-align: right;
    padding: 20px 25px;

    @media (min-width: 1025px) {
        padding: 30px 25px 0 0;
    }

    img {
        width: 140px;
        height: auto;
    }
}